body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-image: url('todo.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

h1 {
    text-align: center;
    color: #333;
}

input, button {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="date"] {
    padding: 5px;
}

button {
    background-color: #f78c1f;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #e67e22;
}

.todo-item {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    max-width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.todo-item p {
    margin: 5px 0;
}

.done {
    text-decoration: line-through;
    color: #888; /* Optional: Change text color when marked as done */
}

.todo-buttons button {
    margin-top: 5px;
}
